.columns-wrapper {
    margin: var(--space-36) 0;
}

.columns-wrapper:has(.columns.pelen-ekran) {
  padding: 0;
  max-width: 100vw;
}

.columns {
  padding: var(--space-36) 0;
  margin:  var(--space-36) 0;
}

.columns.pomaranczowe {
  padding: var(--space-36) 0;
}

.columns img {
  width: 100%;
}

.columns > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div:has(div > p) div{
  padding: var(--space-36) 0;
}

.columns-img-col {
    padding: 0;
    width: 100%;
    height: 100%;
}

.columns-content-col {
    padding:  var(--space-46);
}

.columns-img-col picture {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.columns-img-col img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use 'fill' if you want image to stretch/distort to exact dimensions */
  object-position: center; /* Adjust as needed: top, bottom, left, right, etc. */
  aspect-ratio: 3/2;
}

.columns > div > .columns-img-col img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  display: block;
}

img, picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .section .columns-wrapper {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

main .section .columns-wrapper .columns {
    padding: 0;
    margin: 0;
}

main .section .columns-wrapper .columns-img-col {
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    width: 100%;
    padding-top: 30%;
}

main .section .columns-wrapper .columns-content-col {
    padding: var(--space-26) var(--space-66) var(--space-26) var(--space-36);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}