.columns-wrapper {
    margin: var(--space-36) 0;
}

.columns {
  padding: var(--space-36) 0;
}

.columns > div {
  display: flex;
  flex-direction: column;

  &:has(div > p) div{
    padding: var(--space-36) 0;
  }
}

.columns.pomaranczowe {
  padding: var(--space-36) 0;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
