.columns-wrapper {
    margin: var(--space-36) 0;
}

main .section .columns-wrapper {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

main .section .columns-wrapper .columns {
    padding: 0;
} 

main .section .columns-wrapper .columns-img-col {
    padding: 0;
}

main .section .columns-wrapper .columns-content-col {
    padding: var(--space-26) var(--space-66) var(--space-26) var(--space-36);
}

.columns-wrapper:has(.columns.pelen-ekran) {
  padding: 0;
  max-width: 100vw;
}

.columns-img-col {
    padding: 0;
    width: 100%;
    height: 100%;
}

.columns-content-col {
    padding:  var(--space-46);
  }

img, picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ensure all nested divs inherit full height for image stretching */
.columns-img-col {
  height: 100%;
}

.columns-img-col picture {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.columns-img-col img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use 'fill' if you want image to stretch/distort to exact dimensions */
  object-position: center; /* Adjust as needed: top, bottom, left, right, etc. */
  aspect-ratio: 3/2;
}

.columns {
  padding: var(--space-36) 0;
  margin:  var(--space-36) 0;
}


.columns > div {
  display: flex;
  flex-direction: column;

  &:has(div > p) div{
    padding: var(--space-36) 0;
  }
}

.columns.pomaranczowe {
  padding: var(--space-36) 0;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
