.accordion details {
  border: 1px solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 16px;
}

.accordion details summary {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  list-style: none;
  overflow: auto;
  padding: 0 16px;
  padding-right: 48px;
  position: relative;
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--dark-color);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  border: 2px solid;
  border-width: 2px 2px 0 0;
  content: "";
  height: 9px;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transition: transform 0.2s;
  width: 9px;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  background-color: var(--color-darker-blue);
  border-top: 1px solid var(--dark-color);
}

.accordion details.accordion-item {
    background-color: var(--color-darker-blue);
    border-bottom: 1px solid var(--color-white);
}