.accordion details + details {
  margin-top: var(--space-16);
}

.accordion details summary {
  cursor: pointer;
  list-style: none;
  overflow: auto;
  padding: 0 var(--space-16);
  padding-right: var(--space-46);
  position: relative;
  transition: background-color 0.2s;
}

/* .accordion details[open] summary {
  background-color: var(--color-accordion-background);
} */

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--color-accordion-hover);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  border: 2px solid;
  border-width: 2px 2px 0 0;
  content: "";
  height: 9px;
  position: absolute;
  right: var(--space-26);
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transition: transform 0.2s;
  width: 9px;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: var(--space-16);
}

.accordion details[open] .accordion-item-body {
  background-color: var(--color-accordion-body);

  & p {
    margin: 0;
  }
}

.accordion details.accordion-item {
  background-color: var(--color-accordion-title);
  border:none;
}