.cytat {
  margin: var(--space-66);
  padding: 0 var(--space-36);
  position: relative;
  text-align: left;
  border-left: 5px solid var(--color-gold);
}

.cytat p {
    margin: 0;
}

.cytat div div > * {
    margin: 0;
}

.cytat [data-align="center"] * {
    text-align: center;
    margin-top: var(--space-20);

}

.cytat div div > *::before {
    content: '\201C';
    font-size: 10rem;
    position: absolute;
    left: -5rem;
    top: 0;
    color: var(--color-gold);
    line-height: 0.8;

}

@media (width <= 768px) {
    .cytat {
        padding: 0 var(--space-20);
        margin: var(--space-36);
    }

    .cytat div div > *::before {
        font-size: 4rem;
        left: -2.2rem;
    }
}