.cytat {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-left: 5px solid #333;
  font-style: italic;
}

.cytat-content {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.cytat-author {
  font-size: 1em;
  text-align: right;
  font-weight: bold;
}