.cytat {
  max-width: 800px;
  margin: 40px auto;
  padding: 1rem 2rem;
  border-left: 4px solid var(--color-gold);
  margin-left: 4rem;
  position: relative;
  text-align: left;
}

.cytat p {
    margin: 0;
}


.cytat::before {
    content: '\201C';
    font-size: 7rem;
    position: absolute;
    left: -4rem;
    top: 0;
    color: var(--color-gold);
    line-height: 0.8;
}