.cytat {
  max-width: 800px;
  margin: 40px auto;
  padding: 1rem;
  margin-left: 4rem;
  position: relative;
  text-align: left;
}

.cytat p {
    margin: 0;
}

.cytat [data-align="center"] * {
    text-align: center;
    margin-top: var(--space-20);

}


.cytat::before {
    content: '\201C';
    font-size: 7rem;
    position: absolute;
    left: -2rem;
    top: 0;
    color: var(--color-mint);
    line-height: 0.8;
}