.cytat {
  margin: 0 auto;
  padding: 3rem 1rem;
  position: relative;
  text-align: left;
}

.cytat p {
    margin: 0;
}

.cytat [data-align="center"] * {
    text-align: center;
    margin-top: var(--space-20);

}


.cytat div div > *::before {
    content: '\201C';
    font-size: 7rem;
    position: absolute;
    left: -2rem;
    top: 1rem;
    color: var(--color-mint);
    line-height: 0.8;
}

.cytat div div > * {
    margin: 0;
}