.banner-container > div {
  max-width: unset;
}

.banner-container .banner > div {
    /* margin-bottom: 4rem; */
}

  
main .section.banner-container {
  min-width: 100%;
  padding: 0;
}

.banner-container::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}



@media (width >= 900px) {
    .banner-container {
        background: linear-gradient(
            0deg,
            rgb(0 0 0 / 90%) 0%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 0%) 100%
        ) ;
        min-height: 745px;
        position: fixed;
        top: 0;
    }

    /* Add new rule for when banner has no picture */
    .banner-container:not(:has(picture)) + .section.content {
        margin-top: 372px !important; /* 745px / 2 = 372px */
    }

    /* Keep original margin for banner with picture */
    .banner-container:has(picture) + .section.content {
        margin-top: 745px;
    }
}

.banner {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  min-height: 250px;
  width: 100%;
}

/* .banner-wrapper {
    background: linear-gradient(
        0deg,
        rgb(0 0 0 / 90%) 0%,
        rgb(0 0 0 / 70%) 50%,
        rgb(0 0 0 / 0%) 100%
    );
} */

@media (width >= 900px) {
  .banner {
    align-items: end;
    height: 700px;
    justify-content: center;
  }

  /* Adjust banner height when no picture */
  .banner:not(:has(picture)) {
    height: 350px;
  }

  .banner-container .banner > div {
    margin: 0;
  }
}

.banner > div > div {
  align-items: end;
  display: flex;
  height: 100%;
}

.banner h1 {
  align-self: flex-end;
  color: var(--color-white);
  font-size: var(--heading-font-size-xxl);
  line-height: 1;
  margin: 0 auto 3rem;
  max-width: 900px;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

@media (width >= 900px) {
  .banner h1 {
    padding: 0;
  }
}

.banner picture {
  box-sizing: border-box;
  inset: 0;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.banner img {
  height: 100%;
  margin: 0;
  object-fit: cover;
  transform-origin: center center;
  width: 100%;
  will-change: transform;
}

.breadcrumbs {
    transform: translateY(-7rem);
}

.breadcrumbs ol {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.breadcrumbs ol li {
  &:not(:last-child)::after {
    color: var(--color-white);
    content: '-';
    margin: 0 0 0 0.2rem;
  }
}

.breadcrumbs ol li,
.breadcrumbs ol li a {
    font-size: var(--body-font-size-xs);
}

@media (width >= 900px) {
  .breadcrumbs {
    position: relative;
    transform: translateY(-1rem);
    z-index: 1;
  }

  .breadcrumbs ol {
    gap: 1rem;
  }

  .breadcrumbs ol li,
  .breadcrumbs ol li a {
    font-size: var(--body-font-size-s);
  }

  .breadcrumbs ol li {
    &:not(:last-child)::after {
      margin: 0 0  0 1rem;
    }
  }
}

@media (width >= 900px) {
    .banner {
  align-items: end;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
            height: 300px;
        }
    }
}

