.hero > div  {
  height: 100%;
}

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
  position: fixed;
  top: 0;
  min-width: 100%;
}

.hero {
  position: relative;
  padding: 32px;
  height: 700px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%)
  }
}

.hero > div > div {
  display: flex;
  align-items: end;
  height: 100%;
}

.hero h1 {
  position: relative;
  font-size: var(--heading-font-size-xxl);
  line-height: 1;
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-white);
  align-self: flex-end;
  text-align: center;
  z-index: 1;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.breadcrumbs ol {
  list-style: none;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.breadcrumbs ol li {
  &:not(:last-child)::after {
    content: '-';
    margin: 0 0 0 1rem;
  }
}