main .hero-container > div {
  max-width: unset;
}

main .hero-container .hero > div {
    margin-bottom: 4rem;
}

  
main .hero-container {
  padding: 0;
  min-width: 100%;
}

@media (width >= 900px) {
    main .hero-container {
        position: fixed;
        top: 0;
    }
}

.hero {
  display: flex;
  align-items: end;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%)
  }
}

@media (width >= 900px) {
  .hero {
    height: 700px;
    justify-content: center;
    align-items: end;
  }
  main .hero-container .hero > div {
    margin: 0;
  }
}

.hero > div > div {
  display: flex;
  align-items: end;
  height: 100%;
}

.hero h1 {
  position: relative;
  font-size: var(--heading-font-size-xxl);
  line-height: 1;
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-white);
  align-self: flex-end;
  text-align: center;
  z-index: 1;
  padding: 0 1rem;
}

@media (width >= 900px) {
  .hero h1 {
    padding: 0;
  }
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.breadcrumbs ol {
  list-style: none;
  gap: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.breadcrumbs ol li {
  &:not(:last-child)::after {
    content: '-';
    margin: 0 0 0 0.2rem;
    color: var(--color-white);
  }
}

.breadcrumbs ol li,
.breadcrumbs ol li a {
    font-size: var(--body-font-size-xxs);
}

@media (width >= 900px) {
  .breadcrumbs {
    z-index: 1;
    position: relative;
  }

  .breadcrumbs ol {
    gap: 1rem;
  }

  .breadcrumbs ol li,
  .breadcrumbs ol li a {
    font-size: var(--body-font-size-s);
  }

  .breadcrumbs ol li {
    &:not(:last-child)::after {
      margin: 0 0  0 1rem;
    }
  }
}

