main .hero-container > div {
  max-width: unset;
}

main .hero-container .hero > div {
    margin-bottom: 0;
}

  
main .hero-container {
  min-width: 100%;
  padding: 0;
}

@media (width >= 900px) {
    main .hero-container {
        top: 0;
        padding:  0 0 32px 0;
    }
}

.hero-wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgb(40 48 72 / 100%) , transparent);
}

.hero {
  align-items: center;
  display: flex;
  min-height: 500px;
  max-height: 500px;
}

@media (width >= 900px) {
    .hero {
        align-items: end;
        justify-content: center;
  }

  main .hero-container .hero > div {
    margin: 0;
  }
}

.hero > div > div {
  align-items: end;
  display: flex;
  height: 100%;
}

.hero h1 {
  align-self: flex-end;
  color: var(--color-white);
  font-family: var(--body-bold-family);
  font-size: var(--heading-font-size-xxl);
  line-height: 1;
  margin: 0 auto;
  max-width: 900px;
  padding: var(--space-20) 0 ;
  position: relative;
  text-align: center;
  z-index: 1;
}

@media (width >= 900px) {
  .hero h1 {
    padding: var(--space-26) 0 ;
  }
}

.hero picture {
  box-sizing: border-box;
  inset: 0;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.hero img {
  height: 100%;
  margin: 0;
  object-fit: cover;
  width: 100%;
}

.breadcrumbs {
    transform: translateY(-7rem);
}

.breadcrumbs ol {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li {
  &:not(:last-child)::after {
    color: var(--color-white);
    content: '-';
    margin: 0 0 0 0.2rem;
  }
}

.breadcrumbs ol li {
    font-size: var(--body-font-size-xs);
    color: var(--color-white);
}

.breadcrumbs ol li a {
  font-size: var(--body-font-size-xs);
  color: var(--color-gold);

  &:hover, &:focus, &:focus-visible {
    text-decoration: underline;
  }
}

@media (width >= 900px) {
  .breadcrumbs {
    position: relative;
    transform: translateY(-1rem);
    z-index: 1;
  }

  .breadcrumbs ol {
    gap: 1rem;
  }

  .breadcrumbs ol li,
  .breadcrumbs ol li a {
    font-size: var(--body-font-size-s);
  }
  
  .breadcrumbs ol li {
    &:not(:last-child)::after {
      margin: 0 0  0 1rem;
    }
  }
}

@media (width >= 900px) {
    .hero {
  align-items: end;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
            height: 300px;
        }
    }
}

.hero-container:has(:not(p picture)) {
  background-color: var(--color-dark-blue);
}

.bez-zdjeciem h1 {
  color: var(--color-white);
}

.bez-zdjeciem p {
  color: var(--color-white);
}

.bez-zdjeciem a {
  color: var(--color-gold);
}