.slide-builder {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.slide-builder-item {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-out;
  width: 100%;
  will-change: transform;
}

.slide-background {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::before {
    background: transparent;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%); */
  background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;

  }
}

/* Other styles remain the same */
.text-container {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 2em;
  padding: 1em;
  position: absolute;
  right: 2em;
  width: 100%;
  z-index: 2;
}

.title-part {
  color: var(--color-white);
  font-size: 24px;
  line-height: 1;
  margin-bottom: 10px;

}

.title-part-1 {
  font-family: var(--heading-font-family);
  font-size: 120px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  
}

.title-part-2 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xl);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.title-part-3 {
  font-family: var(--body-font-family);
  font-size: 22px;
  line-height: 1.6;
  margin: 0 2rem;
}


/* Ensure the body has enough height for scrolling */
body {
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@media (width >= 900px) {
  .title-part-3 {
    max-width: 700px;
    text-align: center;
  }


}
