main .section.slide-builder-container {
    padding: 0;
}

.slide-builder {
  height: auto;
  left: 0;
  overflow: visible;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

.slide-builder-item {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  will-change: transform;
}


.slide-background {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    
    &::before {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

/* Other styles remain the same */
.text-container {
    align-items: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1em;
    position: relative;
    width: 100%;
    z-index: 2;
}

.title-part {
    color: var(--color-white);
    font-size: 24px;
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 10px rgb(255 255 255 / 40%);
}

.title-part-1 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size-mobile-xxl);
}

.title-part-2,
.title-part-3 {
    will-change: opacity, transform;
}

.title-part-2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size-mobile-l);
    line-height: 1.5;
}

.title-part-3 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
    margin: 0 2rem;
}

.slide-builder-item:first-child .title-part-3 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size-mobile-xl);
}

/* Ensure the body has enough height for scrolling */
body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@media (width >= 900px) {  
  .title-part-1 {
    font-size: var(--heading-font-size-4xl);
  } 

  .title-part-2 {
    font-size: var(--heading-font-size-xxl);
  }

  .title-part-3 {
    font-size: var(--body-font-size-m);
    max-width: 600px;
  }

  .slide-builder-item:first-child .title-part-3 {
    font-size: var(--heading-font-size-xl);
  }
}
