.slide-builder {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide-builder-item {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform;
  transition: transform 0.5s ease-out;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: transparent;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%); */
  background: rgba(0, 0, 0, 0.7);

  }
}

/* Other styles remain the same */
.text-container {
  position: absolute;
  left: 2em;
  right: 2em;
  height: 100%;
  width: 100%;
  color: var(--color-white);
  padding: 1em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-part {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--color-white);

}

.title-part-1 {
  font-size: var(--heading-font-size-xxxl);
  font-family: var(--heading-font-family);
  
}

.title-part-2 {
  font-size: var(--heading-font-size-xl);
  font-family: var(--heading-font-family);
  line-height: 1;
}

.title-part-3 {
  font-family: var(--body-font-family);
  font-size: var( --body-font-size-m);
  line-height: 1.4;
  margin: 0 2rem;
}


/* Ensure the body has enough height for scrolling */
body {
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@media (width >= 900px) {
  .title-part-3 {
    max-width: 700px;
    text-align: center;
  }


}
