.social-media-feeds {
    margin-top: 10rem;
}

body.social-media-page::before {
    content: '';
    display: block;
    height: 10rem;
}

.social-media-feed-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
}

.social-media-feed-item {
  background-color: var(--color-darker-blue);
  border-radius: 8px;
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.social-media-feed-item:hover  {
  text-decoration: none;
  transform: translateY(-5px);
}

.image-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  width: 100%;
}

.image-wrapper picture {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-wrapper img {
  height: 100%;
  left: 0;
  margin: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-wrapper img.social-media-logo {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  z-index: 1;
}

.social-media-feed-item h3 {
  color: var(--color-white);
  font-family: var(--body-bold-family);
  font-size: var(--body-bold-size);
  line-height: 1.4;
  margin: 10px;
}

.social-media-feed-item p {
  color: var(--color-blue);
  font-size: 14px;
  margin: 0 10px 10px;
}

.social-media-feed-item[href*="youtube.com"] {
  /* Styles specific to YouTube items */
  border-left: 3px solid #ff0000;
}

.social-media-feed-item[href*="facebook.com"] {
  /* Styles specific to Facebook items */
  border-left: 3px solid #3b5998;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  align-items: center;
  background-color: var(--color-darker-blue); /* Golden color */
  border: none;
  border-radius: 20px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  margin: 0 10px;
  padding: 20px 30px;
  transition: background-color 0.3s ease;
}

.filter-button:hover,
.filter-button.active {
  background-color: #ffcc00;
}

.filter-logo {
  height: 20px;
  margin: 0;;
  margin-right: 10px;
  width: 20px;
}

.filter-all .filter-logo {
  display: none;
}
