.social-media-feeds {
    margin-top: 10rem;
}

body.social-media-page::before {
    content: '';
    display: block;
    height: 10rem;
}

.social-media-feed-container {
  display: grid;
  gap: var(--space-26);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
}

.social-media-feed-item {
  background-color: var(--color-darker-blue);
  box-shadow: var(--box-shadow);
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-media-feed-item:hover  {
  background-color: var(--color-blue);
  text-decoration: none; 
}

.social-media-feed-item:hover p,
.social-media-feed-item:hover h3 {
  color: var(--color-dark-blue);
}

.social-media-feed-item img {
    transition: all 0.2s ease-in-out;
}

.social-media-feed-item:hover img {
  transform: scale(1.05);
}

.image-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  width: 100%;
}

.image-wrapper picture {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-wrapper img {
  height: 100%;
  left: 0;
  margin: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-wrapper img.social-media-logo {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 30px;
  z-index: 1;
}

.social-media-feed-item h3 {
  color: var(--color-white);
  font-family: var(--body-bold-family);
  font-size: var(--body-bold-size);
  line-height: 1.4;
  margin: 10px;
}

.social-media-feed-item p {
  color: var(--color-blue);
  font-size: 14px;
  margin: 0 10px 10px;
}

.filter-container {
  background-color: var(--color-darker-blue);
  display: flex;
  gap: var(--space-8);
  justify-content: center;
  margin-bottom: 20px;
  padding: var(--space-16) 0;
}

.filter-button {
    align-items: center;
    background-color: var(--color-blue-dark);
    border: 1px solid var(--color-gold);
    box-sizing: border-box;
    color: var(--color-gold);
    cursor: pointer;
    display: flex;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-s);
    font-style: normal;
    font-weight: 600;
    gap: var(--space-8);
    margin: var(--space-16) 0;
    margin: 0;
    overflow: hidden;
    padding: 14px 30px;
    padding: var(--space-16) var(--space-36);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

}
      
.filter-button:hover, .filter-button:focus  {
    background-color: var(--color-gold);
    color: var(--color-dark-blue);
    cursor: pointer;
}

.filter-logo {
  margin: 0;;
  margin-right: 10px;
  width: 20px;
}

.filter-all .filter-logo {
  display: none;
}

.search-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: var(--space-16);
}

form.search-form {
  background-color: var(--color-blue-dark);
  border: 1px solid var(--color-gold);
  display: flex;
}

.search-label {
  color: var(--color-gold);
  display: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  margin-right: var(--space-8);
  visibility: hidden;
}

.search-input {
  background-color: var(--color-blue-dark);
  border: none;
  color: var(--color-gold);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  padding: var(--space-16) var(--space-16);
}

.search-input::placeholder {
  color: var(--color-gold);
  opacity: 0.7;
}

.search-button {
  background-color: var(--color-blue-dark);
  border: none;
  color: var(--color-gold);
  cursor: pointer;
  display: inline-block;
  font-size: var(--body-font-size-m);
  margin: 0;
  padding: var(--space-8) var(--space-16);
}

.search-button:hover {
  background-color: var(--color-gold);
  color: var(--color-dark-blue);
}

/* Adjust the filter container to accommodate the search field */
.filter-container {
  align-items: center;
  flex-wrap: wrap;
}

/* Responsive adjustments */
@media (width >= 900px) {
  .search-container {
    flex-basis: 100%;
    margin-bottom: var(--space-16);
  }
}

.load-more-button {
  display: block;
  margin: var(--space-26) auto;
}
