.cytaty-zdjecia-wrapper {
  margin: var(--space-36) 0;
}

.cytaty-zdjecia > ul {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  list-style: none;
  margin: 0;
  padding: 0;
}

.cytaty-zdjecia > ul > li {
  border: 1px solid var(--dark-color);
}

.cytaty-zdjecia .cytaty-zdjecia-card-body {
  margin: 16px;
}

.cytaty-zdjecia .cytaty-zdjecia-card-image {
  line-height: 0;
}

.cytaty-zdjecia .cytaty-zdjecia-card-body > *:first-child {
  margin-top: 0;
}

.cytaty-zdjecia > ul > li img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}



/* Feedback wrapper */
.feedback ul {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.feedback ul li {
  border: none;
  border-top: 1px solid var(--color-gold);
  box-shadow: var(--box-shadow);
  display: grid;
}

.feedback .card-image {
  grid-area: 1/1;
  min-height: 250px;
  position: relative;

  & img {
    aspect-ratio: 1 / 1;
    margin-top: auto;
    min-height: 100%;
  }
}

.feedback .card-title {
  grid-area: 1 / 1;
  margin-top: auto;
  position: relative;
  text-align: center;
}

.feedback .card-title h3,
.feedback .card-title p  {
  color: white;
  margin: 0;
}

.feedback .card-title h3 {
  font-family: var( --body-bold-family);
  font-size: var(--heading-font-size-s);
}


.feedback .card-title p {
  margin-bottom: 1rem;
}

.feedback .card-body {
  background-color: var(--color-blue-dark);
  padding: 1rem;
  text-align: center;

  & p {
    margin: 0;
  }
}

.feedback .card-image::before {
  background: rgb(0 0 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  content: "";
  left: 0;
  min-height: 100px;
  position: absolute;
  right: 0;
  width: 100%;
}

@media (width >= 900px) {
  .feedback ul {
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  }
}