.formularz {
  --formularz-max-width: 800px;
  --formularz-border-radius: 8px;
  --formularz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formularz-wrapper {
  /* margin: 0 auto; */
  /* max-width: var(--formularz-max-width); */
  width: 100%;
}

.formularz-iframe {
  background: transparent;
  border: none;
  /* border-radius: var(--formularz-border-radius);
  box-shadow: var(--formularz-box-shadow); */
  height: 1250px;
  min-height: 400px;
  width: 100%;
}

.formularz-iframe:before {
  background: rgba(0, 0, 0, 1);
  content: '';
  display: block;
  height: 1250px;
  width: 100%;
}

/* Add transparent background to the iframe content */
.formularz-iframe {
  background-color: transparent !important;
  /* Force transparency for embedded content */
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.formularz .error {
  color: #ff0000;
  font-size: var(--body-font-size-s);
  padding: 1rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .formularz-wrapper {
    padding: 0 1rem;
  }
} 