.formularz {
  --formularz-max-width: 800px;
  --formularz-border-radius: 8px;
  --formularz-box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.formularz-wrapper {
  width: 100%;
}

.formularz-iframe {
  background: transparent;
  background-color: transparent !important;
  border: none;
  height: 1250px;
  min-height: 400px;
  width: 100%;

  /* Force transparency for embedded content */
  backdrop-filter: none;
}

.formularz-iframe::before {
  background: rgb(0 0 0 / 100%);
  content: '';
  display: block;
  height: 1250px;
  width: 100%;
}

.formularz .error {
  color: #f00;
  font-size: var(--body-font-size-s);
  padding: 1rem;
  text-align: center;
} 