footer {
  background-color: var(--color-darker-blue);
  color: var(--color-white);
  border-top: 1px solid var(--color-gold);
  z-index: 2;
  position: relative;
}

footer .footer {
  max-width: 1440px;
  margin: auto;
  padding: 4rem 2rem;
}

footer .footer > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-26);
}

footer .section:last-child {
  min-width: 100%;
  border-top: 1px solid var(--color-blue);
  padding: var(--space-16) 0;
  grid-column: 1 / -1;
}

footer h4 {
  margin: 0 0 0.5rem;
}

footer a {
  display: inline-block;
  margin-inline-end: var(--space-16);
}

footer svg {
  width: 24px;
  height: 24px;
}

footer p {
  margin: 0 0 var(--space-16);
  font-size: var(--body-font-size-xs);
}

.parBtn {
  display: flex;
  align-items: center;
}

.parBtn .icon {
    margin: 0;
}


.parBtn img {
    width: auto;
}


footer .button-container a.button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
  color: var(--color-gold); 
}

@media (width >= 900px) {
    footer .footer {
        padding: 4rem 7.5rem 0;
    }

  footer .footer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-36);
  }
}