body.home .footer-wrapper {
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

body.show-footer .footer-wrapper {
  opacity: 1;
  pointer-events: auto;
}

footer {
  background-color: hsl(225deg 29% 22% / 90%);
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

footer .footer {
  margin: auto;
  padding: var(--space-26) var(--space-8);
}

footer .footer .section {
  background: transparent;
}

footer .footer > div {
  display: grid;
  gap: var(--space-26);
  grid-template-columns: repeat(1, 1fr);
}

footer .section:last-child {
  border-top: 1px solid var(--color-gold);
  grid-column: 1 / -1;
  min-width: 100%;
  padding: var(--space-16) 0;
}

footer h4 {
  margin: 0 0 var(--space-8);
  font-size: var(--body-font-size-s);
}

footer a {
  display: inline-block;
  font-size: var(--body-font-size-xxs);
  text-decoration: none;
  font-family: var(--body-regular-family);
  margin-inline-end: var(--space-16);
}

footer ul li {
  list-style: none;
  margin: 0 0 var(--space-4);
}

footer ul li:has(a:any-link) {
  margin-bottom: var(--space-8);
}


footer a:any-link {
    color: var(--color-gold);
    font-size: var(--body-font-size-xxs);
    text-decoration: none;
    font-family: var(--body-regular-family);
}

footer a:any-link:hover,
footer a:any-link:focus,
footer p a:any-link:hover,
footer p a:any-link:focus,
footer ul li:has(a:any-link) a:hover,
footer ul li:has(a:any-link) a:focus,
footer ul li:has(a:any-link) a:focus-visible {
  color: var(--color-gold);
}

footer ul li:has(a:any-link)::before {
  content: '→';
  display: inline-block;
  margin-inline-end: var(--space-4);
}

footer svg {
  height: 24px;
  width: 24px;
}

footer p {
  font-size: var(--font-size-sm);
  margin: 0 0 var(--space-16);
}

.par-btn {
  align-items: center;
  display: flex;
  gap: var(--space-4);
}

.par-btn .icon {
  margin: 0;
}

.par-btn img {
  width: 16px;
}

footer .par-btn:has(.icon.icon-map) {
  display: flex;
  gap: var(--space-8);
}

footer .par-btn .icon.icon-map {
  width: 16px;
  height: 16px;
}

footer .button-container a.button {
  background-color: transparent;
  border: none;
  color: var(--color-gold);
  font-weight: normal;
  margin: 0;
  padding: 0; 
}

@media (width >= 900px) {
    footer .footer {
        border-top: none;
        padding: 0;
    }

    footer .footer > div {
        background-color: var(--color-darker-blue);
        border-bottom: none;
        display: grid;
        gap: var(--space-36);
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 2rem 0;
        z-index: 1;
    }
}

.footer-logo {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    left: 0;
    right: 0;
    bottom: 50%;
    text-align: center;
    height: 500px;
}

.footer-logo picture img {
    width: 128px;
    height: auto;
}

.footer-logo p:has(picture) {
    margin: 0 0 10rem;
}

.footer-logo h3 span {
 font-size: 80px;
 line-height: 0.5;
}

.footer-logo h3 span:first-child   {
   font-size: 26px;
   font-family: var(--body-font-family);
}

.footer-logo h3 span:last-child {
    top: -15px;
    position: relative;
    font-family: var(--body-font-family);
    font-size: 20px;
}

.footer-logo h3 {
    color: var(--color-white);
    font-family: var(--body-bold-family);
    text-align: center;
    margin: 0;
}