body.home .footer-wrapper {
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

body.show-footer .footer-wrapper {
  opacity: 1;
  pointer-events: auto;
}

footer {
  background-color: var(--color-darker-blue);
  border-top: 1px solid var(--color-gold);
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

footer .footer {
  margin: auto;
  padding: 4rem 2rem;
}

footer .footer .section {
  background: transparent;
}

footer .footer > div {
  display: grid;
  gap: var(--space-26);
  grid-template-columns: repeat(1, 1fr);
}

footer .section:last-child {
  border-top: 1px solid var(--color-blue);
  grid-column: 1 / -1;
  min-width: 100%;
  padding: var(--space-16) 0;
}

footer h4 {
  margin: 0 0 0.5rem;
}

footer a {
  display: inline-block;
  margin-inline-end: var(--space-16);
}

footer svg {
  height: 24px;
  width: 24px;
}

footer p {
  font-size: var(--font-size-s);
  margin: 0;
}

footer a:any-link {
    color: var(--color-gold);
}

.par-btn {
  align-items: center;
  display: flex;
}

.par-btn .icon {
  margin: 0;
}

.par-btn img {
  width: auto;
}

footer .button-container a.button {
  background-color: transparent;
  border: none;
  color: var(--color-gold);
  font-weight: normal;
  margin: 0;
  padding: 0; 
}

.parBtn {
  align-items: center;
  display: flex;
  gap: var(--space-4);
}

.parBtn img {
  width: 16px;
}

@media (width >= 900px) {
    footer {
        border-top: none;
    }

    footer .footer {
        background-color: hsl(225deg 29% 22% / 90%);
        padding: 25rem 0 0;
        position: relative;
        z-index: 1;
    }

    .footer-wrapper::before {
        background-image: url('/images/school.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
    }

    footer .footer > div {
        background-color: var(--color-darker-blue);
        /* border: 1px solid var(--color-gold); */
        border-bottom: none;
        display: grid;
        gap: var(--space-36);
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 2rem 0;
        position: relative;
        z-index: 1;
    }
}