.footer-wrapper {
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

body.show-footer .footer-wrapper {
  opacity: 1;
  pointer-events: auto;
}

footer {
  background-color: var(--color-darker-blue);
  border-top: 1px solid var(--color-gold);
  color: var(--color-white);
  position: relative;
  z-index: 0;
}

footer .footer {
  margin: auto;
  max-width: 1440px;
  padding: 4rem 2rem;
}

footer .footer > div {
  display: grid;
  gap: var(--space-26);
  grid-template-columns: repeat(1, 1fr);
}

footer .section:last-child {
  border-top: 1px solid var(--color-blue);
  grid-column: 1 / -1;
  min-width: 100%;
  padding: var(--space-16) 0;
}

footer h4 {
  margin: 0 0 0.5rem;
}

footer a {
  display: inline-block;
  margin-inline-end: var(--space-16);
}

footer svg {
  height: 24px;
  width: 24px;
}

footer p {
  font-size: var(--body-font-size-xs);
  margin: 0 0 var(--space-16);
}

.par-btn {
  align-items: center;
  display: flex;
}

.par-btn .icon {
  margin: 0;
}

.par-btn img {
  width: auto;
}

footer .button-container a.button {
  background-color: transparent;
  border: none;
  color: var(--color-gold);
  font-weight: normal;
  margin: 0;
  padding: 0; 
}

@media (width >= 900px) {
    footer .footer {
        padding: 4rem 7.5rem 0;
    }

  footer .footer > div {
    display: grid;
    gap: var(--space-36);
    grid-template-columns: repeat(3, 1fr);
  }
}