/* stylelint-disable no-descending-specificity */

/* Page navigation list links by Szymon */
main .list-container {
    padding-bottom: 0;
    padding-top: 0;
}

.list-container.section {
    padding-top: 0;
}

.list-container ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    list-style: none;
    margin: 0;
    padding: var(--spacing-l) 0;
}

.list-container li {
    margin-bottom: 0;
}

.list-container a {
    color: var(--color-black);
    text-transform: uppercase;
}

.list-container a.current,
.list-container a:hover,
.list-container a:focus,
.list-container a:focus-visible {
    border-bottom: 2px solid var(--color-black);
    color: var(--color-black);
    text-decoration: none;
    text-shadow: 0 0 1px var(--color-black);
}

.list-container.bg-dark a {
    color: var(--color-white);
}

.list-container.bg-dark a.current,
.list-container.bg-dark a:hover,
.list-container.bg-dark a:focus,
.list-container.bg-dark a:focus-visible {
    border-bottom: 2px solid var(--color-white);
    color: var(--color-white);
    text-decoration: none;
    text-shadow: 0 0 1px var(--color-white);
}

@media (width >= 900px) {
    .list-container ul {
        flex-direction: row;
        gap: var(--spacing-m);
    }
}

/* Quick links Block */

.quick-links ul {
    background: var(--color-darker-blue);
    box-shadow: none;
    display: inline-flex;
    flex-direction: row;
    gap: 0.9rem;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
}


.quick-links ul li,
.quick-links ul li a {
    color: var(--color-white);
    font-size: var(--body-font-size-xs);
    line-height: 1;
    text-decoration: none;
}

.quick-links ul li a:hover,
.quick-links ul li a:focus {
    border-bottom: 1px solid var(--color-gold);
    color: gold;
}

.quick-links ul li:last-child {
    border: none;
    padding: 0;
}

@media (width >= 900px) {
    .quick-links ul {
        bottom: inherit;
        box-shadow: var(--box-shadow);
        flex-direction: row;
        padding: 1rem
    }

    .quick-links ul li {
        border-right: 1px solid var(--color-blue);
        padding-right: 0.6rem;
    }

    .quick-links ul li,
    .quick-links ul li a {
        font-size: var(--body-font-size-xxs);
    }
}
