/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-white: #fff;
  --color-dark-blue: #1d3b5e;
  --color-darker-blue: #283048;
  --color-blue: #27a9de;
  --color-blue-dark: #1e2436;
  --color-gold: #f9d50a;
  --color-black: #000;
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;

  /* fonts */
  --body-font-family: 'Montserrat-Regular';
  --thin-font-family: 'Montserrat-thin';
  --body-bold-family: 'Montserrat-bold';
  --heading-font-family: 'Caveat-Bold';

  /* body sizes */
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxxl: 60px;
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;


  /* Spaces */
  --space-66: 66px;
  --space-46: 46px;
  --space-36: 36px;
  --space-26: 26px;
  --space-16: 16px;
  --space-12: 12px;
  --space-8: 8px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxxl: 100px;
    --heading-font-size-xxl: 80px;
    --heading-font-size-xl: 60px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  display: none;
}

body::before {
  position: fixed;
  z-index: 1;
  top: 0;
  content: "";
  height: 300px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 90%) 0%,
    rgb(0 0 0 / 70%) 50%,
    rgb(0 0 0 / 0%) 100%
  );
  }

body.appear {
  display: block;
}

/* header {
  height: var(--nav-height);
} */

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 1;
  margin-top: .5em;


}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 { 
  font-size: var(--heading-font-size-xs);
  font-family: var(--body-font-family-light);
}

h5 { 
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
}

h6 { font-size: var(--heading-font-size-xs);}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

b, strong {
  font-family: var(--body-bold-family);
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-gold);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid var(--color-gold);
  padding: 14px 30px;
  padding: var(--space-16) var(--space-36);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-gold);
  background-color: var(--color-blue-dark);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--color-gold);
  cursor: pointer;
  color: var(--color-dark-blue);
}

.button-container{
  & strong a.button{
    font-size: var(--heading-font-size-m);
    border: none;
  }
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 34px 1rem;
}

@media (width >= 600px) {
  main .section {
    padding: 32px 0;
  }
}

@media (width >= 900px) {
  .section.content {
    width: 100vw;
    background: var(--color-dark-blue);
    margin-top: 55rem;
    z-index: 1;
    position: relative;
  }
}
    
.section.content > div {
  max-width: 900px;
  margin-inline: auto;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
